@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap");

:root {
  --gray-dark: #333333;
  --gray-bright: #eeeeee;
}

@media screen and (max-width: 800px) {
  .App img {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .App {
    align-items: center;
  }
  .App img {
    width: 500px;
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--gray-dark);
  color: var(--gray-bright);
  font-family: "Montserrat", sans-serif;
}

.App {
  background: radial-gradient(
      1000px 500px at center,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4)
    ),
    url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  justify-content: center;
  padding: 50px;
}

.App a {
  color: unset;
}

.App a:hover {
  color: #e44646;
}

.App img {
  display: block;
  margin-bottom: 50px;
}

.App h1 {
  font-size: 65px;
  font-weight: 500;
}

.App h2 {
  font-size: 32px;
  font-weight: 900;
}

.App p {
  font-weight: 300;
  margin: 25px 0;
}

.App .icon {
  align-items: center;
  display: flex;
}

.App .social-links {
  font-size: 36px;
  display: flex;
  gap: 15px;
}
