/* SMALL SCREENS */
@media screen and (max-width: 1000px) {
  .section-short-padding {
    padding: 25px;
  }
  .section-standard-padding {
    padding: 50px 25px;
  }
  .section-tall-padding {
    padding: 50px 25px;
  }
}

/* LARGE SCREENS */
@media screen and (min-width: 1000px) {
  .section-short-padding {
    padding: 25px 100px;
  }
  .section-standard-padding {
    padding: 100px;
  }
  .section-tall-padding {
    padding: 200px 100px;
  }
}

body {
  letter-spacing: 0.05em;
}

.box-shadow-dark {
  box-shadow: var(--gray-darkest) -10px 10px 25px;
}

button {
  background: unset;
  border: solid 4px transparent;
  border-radius: 4px;
  color: unset;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 15px;
  transition: all 250ms;
}

.button-outline-red {
  border-color: var(--red);
}

.button-outline-red:hover {
  background-color: var(--red);
  color: var(--gray-bright);
}

.button-solid-red {
  background: var(--red);
  color: var(--gray-bright);
  filter: saturate(0.8);
}

.button-solid-red:hover {
  filter: saturate(1);
}

.icon {
  align-items: center;
  display: flex;
}

.topBar nav a {
  color: unset;
  text-decoration: unset;
}

.topBar nav a:hover {
  color: var(--red);
}
