.icon {
  cursor: pointer;
  font-size: 50px;
}

.topBar {
  align-items: center;
  background: var(--gray-bright);
  display: flex;
  justify-content: space-between;
}

.topBar img {
  height: 50px;
}

.topBar nav {
  align-items: center;
  display: flex;
  font-weight: 700;
  gap: 25px;
}

.topBar .fullNav {
  align-items: center;
  gap: 25px;
}
