.areaSection {
  background: url("../assets/aoo.svg"), white;
  background-repeat: no-repeat;
  background-position: 75% center;
  background-attachment: fixed;
}

.areaSection h1 {
  font-size: 56px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  line-height: 0.85em;
}

.areaSection h2 {
  font-size: 36px;
  font-weight: 400;
}
