/* MOBILE SCREENS */
@media screen and (max-width: 800px) {
  .heroSection {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .heroSection h1 {
    line-height: 0.85em;
  }
  .slogan {
    gap: 25px;
  }
}

/* MEDIUM SCREENS */
@media screen and (max-width: 1600px) and (min-width: 800px) {
  .heroSection {
    flex-direction: column;
  }
  .heroSection h1 {
    line-height: 0.85em;
  }
  .slogan {
    gap: 25px;
  }
}

/* BIG SCREENS */
@media screen and (min-width: 1600px) {
  .heroSection {
    min-width: 800px;
  }
}

.heroSection {
  background: linear-gradient(
      to bottom,
      rgba(238, 238, 238, 0.6),
      rgba(238, 238, 238, 0.7) 25% 75%,
      rgba(238, 238, 238, 0.6)
    ),
    url("../assets/background.jpg");
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.heroSection h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 900;
}

.heroSection h1 span {
  color: var(--red);
}

.heroSection h2 {
  font-size: 42px;
  font-weight: 700;
}

.heroSection p {
  max-width: 1000px;
  font-weight: 700;
}

.right img {
  border-radius: 4px;
  display: block;
  width: 100%;
}

.row {
  align-items: center;
  display: flex;
  font-size: 26px;
  gap: 25px;
}

.row a {
  color: unset;
  transition: color 250ms;
}

.row a:hover {
  color: var(--red);
}
